<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="page">

    <%- include('header.ejs') %>

    <section class="main">

        <div class="sub-main">
        
            <img src="/images/Will.png" alt="Will Smith's Face">
            <h1>Yo it's Willy Willy Will Smith!</h1>
            <h2>About Me</h2>
            <p>Hey there, <br>

                I go by Anas Hussain, and I'm super duper stoked to have you stepping into my digital playground.
                 Life's a wild ride, and I find my kicks on the basketball court, diving deep into mind-bending TV series, and conquering epic video game quests. 
                  But my main gig? It's all about chasing that elusive contentment, embracing every plot twist and turn as the chapters of my own epic saga man. <br>
                 Thanks for hitching a ride on this journey; Catch you on the flip side;) 

            </p>
            <video src="/images/Never gonna Meow you up.mp4" controls></video>
        </div>
    </section>

    <%- include('footer.ejs') %>

</body>
</html>
