<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anas Hussain</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>

    <%- include('header.ejs') %>

    <section class="home">
        <div class="home-content">
            <h1>Howdy! How goes there?</h1>
            <h2>I'm Anas Hussain</h2>
            <h3>My Very Own Portfolio</h3>
            <div class="btn-box">
                <a href="AboutMe.html">Get To Know Me</a>
                <a href="ContactMe.html">Let's Talk</a>
            </div>
        </div>
    </section>

    <%- include('footer.ejs') %>

</body>
</html>
